{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/../static/assets/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static '/css/../static/assets/css/bulma-extensions.min.css' %}">
    <script src="{% static '/js/../static/assets/js/bulma-extensions.js' %}"></script>
    {#    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">#}
    {#    <script src="{% static '/js/jquery-3.6.0.js' %}"></script>#}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#    {% load bootstrap4 %}#}
    {##}
    {# Load Bootstrap CSS and JavaScript #}
    {#    {% bootstrap_css %}#}
    {#    {% bootstrap_javascript %}#}
    {##}
    {# Load Bootstrap alerts #}
    {#    {% bootstrap_messages %}#}
    <title>JSC Career Homepage</title>

</head>
<body>
<nav class="navbar">
    {% block header %}

    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% block footer %}

    {% endblock footer %}
</nav>

</body>
</html>